
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #2c3e50, #1c1c1c);
    color: #ecf0f1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    background: linear-gradient(to bottom, #2c3e50, #1c1c1c);
    padding: 15px;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
 margin-left: 10px;
}

.logo a {
    color: #ecf0f1;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition: color 0.3s ease-in-out;
}

.logo a:hover {
    color: #3498db;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

.top-right-links {
    display: flex;
    align-items: center;
}

.top-right-links a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
}

.top-right-links a:hover {
    color: #3498db;
}

h1 {
    margin: 0;
    color: #ecf0f1;
    font-size: 24px;
    margin-top: 10px;
    padding: 0 20px;
}

hr {
    width: 50%;
    margin: 20px 0;
    border-color: #ecf0f1;
}

router-stats {
    color: #ecf0f1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    padding: 20px;
    margin-top: 20px;
}

.box {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    width: calc(30% - 20px);
    max-width: 200px;
    aspect-ratio: 1 / 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}

.box a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: auto;
    transition: color 0.3s ease-in-out;
}

.box a:hover {
    color: #3498db;
}

footer {
    background: linear-gradient(to bottom, #2c3e50, #1c1c1c);
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* Toggle Switch Styles */
.toggle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4a69bd;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #e74c3c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #e74c3c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.toggle-label {
    margin-top: 10px;
}

/* Button Styles */
#runMonitorButton {
    background-color: #1b4f72;
    color: #ecf0f1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out;
}

#runMonitorButton:hover {
    background-color: #154360;
}

/* Loading Bar Styles */
#loading {
    display: none;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    margin: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#internet-status {
    display: flex;
    align-items: center;
    margin-left: 45px;

}

#internet-status-text {
    margin-right: 10px;
    color: #ecf0f1;
    font-size: 16px;
 margin-left: 25px;

}

.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
