[Unit]
Description=Network Monitor Service

[Service]
ExecStart=/var/www/html/monitor_network.sh
Restart=always

[Install]
WantedBy=default.target
